<form [formGroup]="ruleForm">
  <div class="rule-form">
    <div class="group">
      <select formControlName="page" (change)="updateFormValues()">
        <option *ngFor="let pageOption of pageOptions" [value]="pageOption.value">
          {{ pageOption.label }}
        </option>
      </select>
      <p class="or" *ngIf="
          this.ruleKeyGroup.indexOf(this.key) < this.ruleKeyGroup.length - 1
        ">OR</p>
    </div>
    <div class="group">
      <select *ngIf="ruleForm.controls.page.value === '4'" formControlName="operator" (change)="updateFormValues()">
        <option *ngFor="let operator of operators" [value]="operator.value">
          {{ operator.label }}
        </option>
      </select>
    </div>
    <div class="group" *ngIf="ruleForm.controls.page.value === '4'">
      <input type="text" formControlName="url" required (keyup)="changeURL()" (blur)="changeURL()"
        placeholder="Type a full or partial URL" />
      <span *ngIf="!validURL" class="error-msg">URL is Missing</span>
    </div>
    <a class="btn" (click)="removeClick()">&#215;</a>
  </div>
</form>