.rule-form {
  display: flex;

  select {
    border-radius: 4px;
    font-size: 1rem;
    padding: 6px 10px;
    width: 180px;
    height: fit-content;
  }

  a.btn {
    font-size: 1rem;
    font-weight: bold;
    color: #7b7b7b;
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    margin-top: 8px;
    height: 16px;
    width: 16px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
  }

  a.btn:hover {
    border-color: #ff3e68;
    color: #ff3e68;
  }

  input {
    border-radius: 4px;
    font-size: 1rem;
    padding: 6px 10px;
    width: 360px;
  }

  .group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    p.or {
      color: #d6dae2;
      margin: 6px 20px;
    }

    span {
      color: #bfbbbb;
      padding: 16px 24px;
    }

    span.error-msg {
      background-color: #f5d3db;
      border-radius: 4px;
      color: #641a2c;
      padding: 16px;
      width: 360px;
      box-sizing: border-box;
    }
  }

  input,
  select {
    border: 1px solid #dfd3d6;
    box-sizing: border-box;
    color: #222224;
  }

  input:focus,
  select:focus {
    border: 1px solid #0194f5;
    box-shadow: 0 0 0 0.15rem #bcd6fd;
    outline: 0;
  }
}
