<form [formGroup]="ruleForm">
  <div class="rule-form">
    <div class="group">
      <select formControlName="page" (change)="updateFormValues()">
        <option
          *ngFor="let pageOption of pageOptions"
          [value]="pageOption.value"
        >
          {{ pageOption.label }}
        </option>
      </select>
      <span
        *ngIf="
          this.ruleKeyGroup.indexOf(this.key) < this.ruleKeyGroup.length - 1
        "
        >OR</span
      >
    </div>
    <select
      *ngIf="ruleForm.controls.page.value === '4'"
      formControlName="operator"
      (change)="updateFormValues()"
    >
      <option *ngFor="let operator of operators" [value]="operator.value">
        {{ operator.label }}
      </option>
    </select>
    <div class="group" *ngIf="ruleForm.controls.page.value === '4'">
      <input
        type="text"
        formControlName="url"
        required
        (keyup)="changeURL()"
        (blur)="changeURL()"
        placeholder="Type a full or partial URL"
      />
      <span *ngIf="!validURL" class="error-msg">URL is missing</span>
    </div>
    <button (click)="removeClick()">&#215;</button>
  </div>
</form>
