.rule {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 3px 3px 1px #66666610;
  margin: 20px 20px 0 20px;
  padding: 20px;

  .rule-title {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .rule-description {
    color: #656565;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .rule-container {
    margin-bottom: 25px;
  }

  button {
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #85a4c2;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #dde1e9;
      border-color: #dde1e9;
    }
  }
}
